.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  margin-top: 0;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #1548e3;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #1548e3;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

/* 
  @media only screen and (min-width: 601px) {
  .content {
    width: 520px;
    padding: 30px;
    background-color: rgb(240, 237, 237);
    border-radius: 25px;
  }

  .tag {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .field {
    width: 300px;
    height: 30px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .content {
    position: absolute;
    width: 300px;
    padding: 30px;
    background-color: rgb(240, 237, 237);
    border-radius: 25px;
  }

  .tag {
    width: 500px;
    padding: 10px;
  }
  .field {
    width: 250px;
    height: 30px;
    border-radius: 10px;
  }
} */
